tankDynamoStreamHandler:
  handler: tankDynamoStreamHandler.process
  timeout: 900
  tags:
    DEPARTMENT: MACHINERY
    ENVIRONMENT: DEV

  events:
    - stream:
      type: dynamodb
      batchSize: 1
      startingPosition: LATEST
      tableName: Tank
      arn: { Fn::GetAtt: [ Tank, StreamArn ] }

